In [37]:
import pandas as pd  ### for dataframes and data cleaning
import re
import numpy as np
import pyodbc ### for the sql connections
import getpass ### to input db password so no one else knows it 
import datetime as dt ### fro dates cleaning
import warnings
import sqlalchemy 
from sqlalchemy import

SyntaxError: invalid syntax (<ipython-input-37-947bc3f40b5b>, line 9)

In [10]:
import pandas as pd
Customer = pd.read_excel('Study_Data.xlsx', sheet_name = 0)

In [13]:
print(Customer)

          id                   userid                      firstname  \
0          1      PIV7132019122352PM1                       Nnadozie
1          2      PIV7132019122351PM2                     Oluwatoyin
2          3      PIV7132019122351PM3                          jimoh
3          4      PIV7132019122352PM4                      Emmanuel
4          5      PIV7132019122352PM5  Isaac
...      ...                      ...                            ...
40158  40275   PIV824202240634PM40275                          Peter
40159  40276   PIV824202263837PM40276                 samuel majesty
40160  40277  PIV8242022100445PM40277                           Abba
40161  40278  PIV8242022113408PM40278                         Sikiru
40162  40279   PIV825202291339AM40279                          Uduak

                  BANKNAME             status MARITAL_STATUS      gender  \
0              Access Bank  Stage 2 Completed     Single      Male
1                Skye Bank  Stage 1 Completed     Single      Female
2                      NaN  Stage 1 Completed            NaN         NaN
3           First Bank PLC  Stage 1 Completed     Single      Male
4      Guaranty Trust Bank  Stage 1 Completed     Married     Male
...                    ...                ...            ...         ...
40158                  NaN  Stage 1 Completed            NaN         NaN
40159                  NaN  Stage 1 Completed            NaN         NaN
40160                  NaN  Stage 1 Completed            NaN         NaN
40161                  NaN  Stage 1 Completed            NaN         NaN
40162                  NaN  Stage 1 Completed            NaN         NaN

                       dob  ISKYCAPPROVED      KYC_STATUS  \
0      1991-04-28 00:00:00              1        Approved
1      1997-04-22 00:00:00              0        Declined
2                      NaN              0  No KYC Details
3      1992-12-20 00:00:00              0  No KYC Details
4      1972-02-03 00:00:00              0  No KYC Details
...                    ...            ...             ...
40158                  NaN              0  NO KYC Details
40159                  NaN              0  NO KYC Details
40160                  NaN              0  NO KYC Details
40161                  NaN              0  NO KYC Details
40162                  NaN              0  NO KYC Details

                 REC_CRE_DATE rec_cre_source        LAST_UPDATE_DATE
0     2017-12-05 17:12:41.650     System     2019-08-05 16:29:54.097
1     2018-10-02 13:05:03.443     System     2019-08-05 16:29:54.097
2     2019-06-21 17:38:16.553     System     2019-08-05 16:29:54.097
3     2018-03-16 11:39:00.167     System     2019-08-05 16:29:54.097
4     2018-03-27 23:57:20.087     System     2019-08-05 16:29:54.097
...                       ...            ...                     ...
40158 2022-08-24 16:06:34.310     Web                            NaT
40159 2022-08-24 18:38:37.523     Web                            NaT
40160 2022-08-24 22:04:45.333     Web                            NaT
40161 2022-08-24 23:34:08.243     Web                            NaT
40162 2022-08-25 09:13:39.960     Web                            NaT

[40163 rows x 13 columns]

In [14]:
Customer.head(10)

,id,userid,firstname,BANKNAME,status,MARITAL_STATUS,gender,dob,ISKYCAPPROVED,KYC_STATUS,REC_CRE_DATE,rec_cre_source,LAST_UPDATE_DATE
0,1,PIV7132019122352PM1,Nnadozie,Access Bank,Stage 2 Completed,Single,Male,1991-04-28 00:00:00,1,Approved,2017-12-05 17:12:41.650,System,2019-08-05 16:29:54.097
1,2,PIV7132019122351PM2,Oluwatoyin,Skye Bank,Stage 1 Completed,Single,Female,1997-04-22 00:00:00,0,Declined,2018-10-02 13:05:03.443,System,2019-08-05 16:29:54.097
2,3,PIV7132019122351PM3,jimoh,NaN,Stage 1 Completed,NaN,NaN,NaN,0,No KYC Details,2019-06-21 17:38:16.553,System,2019-08-05 16:29:54.097
3,4,PIV7132019122352PM4,Emmanuel,First Bank PLC,Stage 1 Completed,Single,Male,1992-12-20 00:00:00,0,No KYC Details,2018-03-16 11:39:00.167,System,2019-08-05 16:29:54.097
4,5,PIV7132019122352PM5,Isaac,Guaranty Trust Bank,Stage 1 Completed,Married,Male,1972-02-03 00:00:00,0,No KYC Details,2018-03-27 23:57:20.087,System,2019-08-05 16:29:54.097
5,6,PIV7132019122352PM6,Abba,Union Bank PLC,Stage 1 Completed,Married,Male,1978-08-22 00:00:00,1,Approved,2018-04-14 15:16:05.710,System,2019-08-05 16:29:54.097
6,7,PIV7132019122352PM7,Suleiman,NaN,Stage 1 Completed,NaN,NaN,NaN,0,No KYC Details,2018-04-27 00:18:49.557,System,2019-08-05 16:29:54.097
7,8,PIV7132019122352PM8,Umar,NaN,Stage 1 Completed,NaN,NaN,NaN,0,No KYC Details,2019-02-11 14:48:01.067,System,2019-08-05 16:29:54.097
8,9,PIV7132019122352PM9,Yakubu,NaN,Stage 1 Completed,NaN,NaN,NaN,0,No KYC Details,2018-07-04 12:26:01.607,System,2019-08-05 16:29:54.097
9,10,PIV7132019122352PM10,Naomi,Guaranty Trust Bank,Stage 1 Completed,NaN,Female,1991-07-07 00:00:00,0,No KYC Details,2019-04-28 18:27:30.637,System,2019-08-05 16:29:54.097

In [15]:
print(Customer.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40163 entries, 0 to 40162
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                40163 non-null  int64
 1   userid            40163 non-null  object
 2   firstname         40163 non-null  object
 3   BANKNAME          17176 non-null  object
 4   status            40163 non-null  object
 5   MARITAL_STATUS    7429 non-null   object
 6   gender            17441 non-null  object
 7   dob               17433 non-null  object
 8   ISKYCAPPROVED     40163 non-null  int64
 9   KYC_STATUS        40163 non-null  object
 10  REC_CRE_DATE      40163 non-null  datetime64[ns]
 11  rec_cre_source    40163 non-null  object
 12  LAST_UPDATE_DATE  9448 non-null   datetime64[ns]
dtypes: datetime64[ns](2), int64(2), object(9)
memory usage: 2.6+ MB
None

In [16]:
Customer.tail()

,id,userid,firstname,BANKNAME,status,MARITAL_STATUS,gender,dob,ISKYCAPPROVED,KYC_STATUS,REC_CRE_DATE,rec_cre_source,LAST_UPDATE_DATE
40158,40275,PIV824202240634PM40275,Peter,NaN,Stage 1 Completed,NaN,NaN,NaN,0,NO KYC Details,2022-08-24 16:06:34.310,Web,NaT
40159,40276,PIV824202263837PM40276,samuel majesty,NaN,Stage 1 Completed,NaN,NaN,NaN,0,NO KYC Details,2022-08-24 18:38:37.523,Web,NaT
40160,40277,PIV8242022100445PM40277,Abba,NaN,Stage 1 Completed,NaN,NaN,NaN,0,NO KYC Details,2022-08-24 22:04:45.333,Web,NaT
40161,40278,PIV8242022113408PM40278,Sikiru,NaN,Stage 1 Completed,NaN,NaN,NaN,0,NO KYC Details,2022-08-24 23:34:08.243,Web,NaT
40162,40279,PIV825202291339AM40279,Uduak,NaN,Stage 1 Completed,NaN,NaN,NaN,0,NO KYC Details,2022-08-25 09:13:39.960,Web,NaT

In [17]:
Customer["BANKNAME"].fillna("NoBankInfo", inplace = True)
Customer["MARITAL_STATUS"].fillna("Unknown", inplace = True)
Customer["gender"].fillna("Unknown", inplace = True)
Customer["dob"].fillna("1900-01-01", inplace = True)
Customer["LAST_UPDATE_DATE"].fillna("1900-01-01", inplace = True)

Customer.tail(10)

,id,userid,firstname,BANKNAME,status,MARITAL_STATUS,gender,dob,ISKYCAPPROVED,KYC_STATUS,REC_CRE_DATE,rec_cre_source,LAST_UPDATE_DATE
40153,40270,PIV8222022112941PM40270,Moses,United Bank for Africa,Stage 2 Completed,Unknown,Female,2002-07-22 00:00:00,0,Submitted,2022-08-22 23:29:41.800,APP,2022-08-23 22:23:10.150000
40154,40271,PIV8232022110405AM40271,Wasiu,NoBankInfo,Stage 1 Completed,Unknown,Unknown,1900-01-01,0,NO KYC Details,2022-08-23 11:04:05.577,Web,1900-01-01
40155,40272,PIV8232022124608PM40272,Yangilli,NoBankInfo,Stage 1 Completed,Unknown,Unknown,1900-01-01,0,NO KYC Details,2022-08-23 12:46:08.150,Web,1900-01-01
40156,40273,PIV823202221445PM40273,Victor,NoBankInfo,Stage 1 Completed,Unknown,Unknown,1900-01-01,0,NO KYC Details,2022-08-23 14:14:45.027,Web,1900-01-01
40157,40274,PIV824202222109PM40274,Abdulbasit,NoBankInfo,Stage 1 Completed,Unknown,Unknown,1900-01-01,0,NO KYC Details,2022-08-24 14:21:09.150,Web,1900-01-01
40158,40275,PIV824202240634PM40275,Peter,NoBankInfo,Stage 1 Completed,Unknown,Unknown,1900-01-01,0,NO KYC Details,2022-08-24 16:06:34.310,Web,1900-01-01
40159,40276,PIV824202263837PM40276,samuel majesty,NoBankInfo,Stage 1 Completed,Unknown,Unknown,1900-01-01,0,NO KYC Details,2022-08-24 18:38:37.523,Web,1900-01-01
40160,40277,PIV8242022100445PM40277,Abba,NoBankInfo,Stage 1 Completed,Unknown,Unknown,1900-01-01,0,NO KYC Details,2022-08-24 22:04:45.333,Web,1900-01-01
40161,40278,PIV8242022113408PM40278,Sikiru,NoBankInfo,Stage 1 Completed,Unknown,Unknown,1900-01-01,0,NO KYC Details,2022-08-24 23:34:08.243,Web,1900-01-01
40162,40279,PIV825202291339AM40279,Uduak,NoBankInfo,Stage 1 Completed,Unknown,Unknown,1900-01-01,0,NO KYC Details,2022-08-25 09:13:39.960,Web,1900-01-01

In [18]:
Customer["dob"] = pd.to_datetime(Customer["dob"], errors = "coerce")
Customer.tail()

,id,userid,firstname,BANKNAME,status,MARITAL_STATUS,gender,dob,ISKYCAPPROVED,KYC_STATUS,REC_CRE_DATE,rec_cre_source,LAST_UPDATE_DATE
40158,40275,PIV824202240634PM40275,Peter,NoBankInfo,Stage 1 Completed,Unknown,Unknown,1900-01-01,0,NO KYC Details,2022-08-24 16:06:34.310,Web,1900-01-01
40159,40276,PIV824202263837PM40276,samuel majesty,NoBankInfo,Stage 1 Completed,Unknown,Unknown,1900-01-01,0,NO KYC Details,2022-08-24 18:38:37.523,Web,1900-01-01
40160,40277,PIV8242022100445PM40277,Abba,NoBankInfo,Stage 1 Completed,Unknown,Unknown,1900-01-01,0,NO KYC Details,2022-08-24 22:04:45.333,Web,1900-01-01
40161,40278,PIV8242022113408PM40278,Sikiru,NoBankInfo,Stage 1 Completed,Unknown,Unknown,1900-01-01,0,NO KYC Details,2022-08-24 23:34:08.243,Web,1900-01-01
40162,40279,PIV825202291339AM40279,Uduak,NoBankInfo,Stage 1 Completed,Unknown,Unknown,1900-01-01,0,NO KYC Details,2022-08-25 09:13:39.960,Web,1900-01-01

In [19]:
print(Customer.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40163 entries, 0 to 40162
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                40163 non-null  int64
 1   userid            40163 non-null  object
 2   firstname         40163 non-null  object
 3   BANKNAME          40163 non-null  object
 4   status            40163 non-null  object
 5   MARITAL_STATUS    40163 non-null  object
 6   gender            40163 non-null  object
 7   dob               40152 non-null  datetime64[ns]
 8   ISKYCAPPROVED     40163 non-null  int64
 9   KYC_STATUS        40163 non-null  object
 10  REC_CRE_DATE      40163 non-null  datetime64[ns]
 11  rec_cre_source    40163 non-null  object
 12  LAST_UPDATE_DATE  40163 non-null  object
dtypes: datetime64[ns](2), int64(2), object(9)
memory usage: 2.6+ MB
None

In [20]:
Customer.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
40158    False
40159    False
40160    False
40161    False
40162    False
Length: 40163, dtype: bool

In [21]:
Customer.drop_duplicates(inplace = True)

In [22]:
print(Customer.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40163 entries, 0 to 40162
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                40163 non-null  int64
 1   userid            40163 non-null  object
 2   firstname         40163 non-null  object
 3   BANKNAME          40163 non-null  object
 4   status            40163 non-null  object
 5   MARITAL_STATUS    40163 non-null  object
 6   gender            40163 non-null  object
 7   dob               40152 non-null  datetime64[ns]
 8   ISKYCAPPROVED     40163 non-null  int64
 9   KYC_STATUS        40163 non-null  object
 10  REC_CRE_DATE      40163 non-null  datetime64[ns]
 11  rec_cre_source    40163 non-null  object
 12  LAST_UPDATE_DATE  40163 non-null  object
dtypes: datetime64[ns](2), int64(2), object(9)
memory usage: 2.9+ MB
None

In [57]:
import pandas as pd  ### for dataframes and data cleaning
import re
import numpy as np
import pyodbc ### for the sql connections
import getpass ### to input db password so no one else knows it 
import datetime as dt ### fro dates cleaning
import warnings
import sqlalchemy 
from sqlalchemy import

SyntaxError: invalid syntax (<ipython-input-57-947bc3f40b5b>, line 9)

In [67]:
import warnings
import datetime as dt
import pyodbc
import sqlalchemy 
from sqlalchemy import create_engine
warnings.filterwarnings('ignore')

In [60]:
conn_new = pyodbc.connect("Driver={SQL Server Native Client 11.0};"
                      "Server=DESKTOP-ARC6CSA\GBENGAPC;"
                      "Database=GEEYDB;"
                      "uid=sa;"
                      "pwd=#Ayodeji11;"
                      )

cursor = conn_new.cursor()

In [ ]:
cursor.execute('''
                CREATE TABLE mtn_ussd_log (
                Request_Response nvarchar(20),
                Status nvarchar(20),
                Status_Message nvarchar(200),
                Request nvarchar(200),
                Date Datetime,
                Time nvarchar(30)
              )
               ''')

conn_new.commit()

In [61]:
data_insert =  (""" INSERT INTO mtn_ussd_log (Request_Response,Status, Status_Message,Request,Date, Time) VALUES(?,?,?,?,?,?) """)

In [68]:
start_time = dt.datetime.now()

for i, row in data_final_main.iterrows():
    curs.execute(data_insert, list(row))
    engine.commit()
    
end_time = dt.datetime.now()
print(f'Time elaspsed (hh:mm:ss:ms): {end_time - start_time}')

NameError: name 'data_final_main' is not defined

In [71]:
import urllib
connection_string = 'mssql+pyodbc://sa:%s@DESKTOP-ARC6CSA\GBENGAPC/GEEYDB?driver=SQL Server' % urllib.parse.quote_plus("#Ayodeji11")

In [74]:
import sqlalchemy as sa
cnx = sa.create_engine(connection_string)

In [75]:
Customer

,id,userid,firstname,BANKNAME,status,MARITAL_STATUS,gender,dob,ISKYCAPPROVED,KYC_STATUS,REC_CRE_DATE,rec_cre_source,LAST_UPDATE_DATE
0,1,PIV7132019122352PM1,Nnadozie,Access Bank,Stage 2 Completed,Single,Male,1991-04-28,1,Approved,2017-12-05 17:12:41.650,System,2019-08-05 16:29:54.097000
1,2,PIV7132019122351PM2,Oluwatoyin,Skye Bank,Stage 1 Completed,Single,Female,1997-04-22,0,Declined,2018-10-02 13:05:03.443,System,2019-08-05 16:29:54.097000
2,3,PIV7132019122351PM3,jimoh,NoBankInfo,Stage 1 Completed,Unknown,Unknown,1900-01-01,0,No KYC Details,2019-06-21 17:38:16.553,System,2019-08-05 16:29:54.097000
3,4,PIV7132019122352PM4,Emmanuel,First Bank PLC,Stage 1 Completed,Single,Male,1992-12-20,0,No KYC Details,2018-03-16 11:39:00.167,System,2019-08-05 16:29:54.097000
4,5,PIV7132019122352PM5,Isaac,Guaranty Trust Bank,Stage 1 Completed,Married,Male,1972-02-03,0,No KYC Details,2018-03-27 23:57:20.087,System,2019-08-05 16:29:54.097000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
40158,40275,PIV824202240634PM40275,Peter,NoBankInfo,Stage 1 Completed,Unknown,Unknown,1900-01-01,0,NO KYC Details,2022-08-24 16:06:34.310,Web,1900-01-01
40159,40276,PIV824202263837PM40276,samuel majesty,NoBankInfo,Stage 1 Completed,Unknown,Unknown,1900-01-01,0,NO KYC Details,2022-08-24 18:38:37.523,Web,1900-01-01
40160,40277,PIV8242022100445PM40277,Abba,NoBankInfo,Stage 1 Completed,Unknown,Unknown,1900-01-01,0,NO KYC Details,2022-08-24 22:04:45.333,Web,1900-01-01
40161,40278,PIV8242022113408PM40278,Sikiru,NoBankInfo,Stage 1 Completed,Unknown,Unknown,1900-01-01,0,NO KYC Details,2022-08-24 23:34:08.243,Web,1900-01-01
40162,40279,PIV825202291339AM40279,Uduak,NoBankInfo,Stage 1 Completed,Unknown,Unknown,1900-01-01,0,NO KYC Details,2022-08-25 09:13:39.960,Web,1900-01-01

In [76]:
Customer.to_sql('CustomerCleanRecords', con=cnx, if_exists="append",index=False,chunksize=1000)